@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: white;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

p {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
}

button {
    background: #3882f6;
    width: 110px;
    height: 30px;
    border: none;
    border-radius: 6px;
    padding: 2px 6px;
    color: #f9faf8;
    font-weight: 600;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
    flex: 1;
    padding: 0px 250px 50px 250px;
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style-type: none;
    font-size: 18px;
}

.first-section {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0px 250px 80px 250px;
    gap: 80px;
}

.awesome-column {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
    color: #f9faf8;
    font-size: 48px;
    font-weight: 700;
}

.main-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 750px;
    height: 180px;
    border: 1px;
    background: grey;
    color: #f9faf8;
}

.second-section {
    background: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.four-boxes {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 50px;
    padding: 0px 300px;
}

.box-plus-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

.under-box {
    color: #1f2937;
    font-size: 16px;
    display: flex;
    text-align: center;
}

.third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    background: #e5e7eb;
    flex: 1;
    padding: 100px 300px 100px 300px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.quote-attrib {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 500;
}

.fourth-section {
    background: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-box {
    border: 3px solid #3882f6;
    background: #3882f6;
    border-radius: 10px;
    width: 800px;
    margin: 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 40px 100px 40px 100px;
}

.call {
    padding: 0;
}

h3 {
    padding: 0;
    margin: 0;
    color: #f9faf8;
}

.bottom-button {
    border: 2px solid #e5e7eb;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f2937;
    color: #e5e7eb;
    padding: 40px 0px;
}